/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container.sbar {
        margin-top: -100px;
        z-index: 9;
        position: relative;
      }
      .hero-header {
        min-height: 285px;
      }
      .portrait-banner {
        height: 290px;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
