.nav-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #cecece; */
    overflow: hidden;
    font-size: 14.5px;
    position: sticky;
    bottom: 0px; /* Adjust as needed */
    z-index: 999;
    height: auto; /* Adjust the height as needed */
}

.mobile-footer {
    position: relative;
    width: 100vw;
    height: 5rem;
    color: #000000;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding: 0;
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12), 0 22.3px 17.9px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.04);
    border-radius: 5px 5px 0 0;
    /* margin-bottom: 3em; */
}

.mobile-footer a {
    position: relative;
    overflow: hidden;
    width: calc(100% / 5);
    height: 100%;
    display: inline-block;
    float: left;
    padding: 0;
    color: currentColor;
    line-height: 12;
    font-size: 0.725em;
    text-align: center;
    text-decoration: none;
    text-indent: -9999rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    will-change: background, line-height;
    transition: background 0.15s ease-in-out, line-height 0.2s ease 0.2s;
}

.mobile-footer a:hover,
.mobile-footer a:focus {
    background-color: rgba(128, 128, 128, 0.3);
}

.mobile-footer a:focus,
.mobile-footer a:active {
    outline: none;
}

.mobile-footer a:active {
    background-color: rgba(128, 128, 128, 0.3);
}

.mobile-footer a svg {
    position: absolute;
    fill: currentColor;
    top: calc(30% + 2.5px);
    left: 30%;
    width: 40%;
    height: 40%;
    transform: scale(1);
    transform-origin: center;
    will-change: opacity, transform, top;
    transition: opacity 0.2s ease, transform 0.2s ease, top 0.2s ease;
    opacity: 0.4;
    pointer-events: none;
}

.mobile-footer a.active {
    background-color: #ffffff;
    text-indent: 0;
    line-height: 10;
    color: #CB0000;
}

.mobile-footer a.active svg {
    top: calc(17.5% + 2.5px);
    transform-origin: center bottom;
    opacity: 1;
    color: #CB0000;
}

.mobile-footer a.traversing svg {
    transition-delay: 0s, 0s, 0s;
    animation: 0.15s traversing ease-out both;
}

.mobile-footer .line {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 5px;
    text-indent: -9999rem;
    transform: translateX(-50%);
    border-radius: 2.5px;
    background: currentColor;
    transition: left 0.5s ease-out;
    z-index: 10;
    color: #CB0000;
}

@keyframes traversing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.mobile-footer.light {
    background-color: rgb(210, 210, 210);
    color: gray;
}

.mobile-footer.light svg {
    fill: gray;
}

.mobile-footer.primary {
    background: magenta;
    color: #fff;
}

.mobile-footer.primary svg {
    fill: #fff;
}
